set_io --warn-no-port   clk         J3
set_io --warn-no-port   indicator7  B5
set_io --warn-no-port   indicator6  B4
set_io --warn-no-port   indicator5  A2
set_io --warn-no-port   indicator4  A1
set_io --warn-no-port   indicator3  C5
set_io --warn-no-port   indicator2  C4
set_io --warn-no-port   indicator1  B3
set_io --warn-no-port   indicator0  C3
set_io --warn-no-port   rxd_line    B10
set_io --warn-no-port   txd_line    B12
set_io --warn-no-port   resb        P15
set_io --warn-no-port   phi2        P16
set_io --warn-no-port   stop        M16
set_io --warn-no-port   go          N16
set_io --warn-no-port   rdy         B9
set_io --warn-no-port   ta16        D16
set_io --warn-no-port   ta15        E16
set_io --warn-no-port   ta14        F16
set_io --warn-no-port   ta13        G16
set_io --warn-no-port   ta12        H16
set_io --warn-no-port   ta11        J15
set_io --warn-no-port   ta10        G14
set_io --warn-no-port   ta9         K14
set_io --warn-no-port   ta8         K15
set_io --warn-no-port   a15         F15
set_io --warn-no-port   a14         C7
set_io --warn-no-port   a13         G15
set_io --warn-no-port   a12         B7
set_io --warn-no-port   a11         H14
set_io --warn-no-port   a10         B8
set_io --warn-no-port   a9          F14
set_io --warn-no-port   a8          A9
set_io --warn-no-port   a7          J14
set_io --warn-no-port   a6          C9
set_io --warn-no-port   a5          K16
set_io --warn-no-port   a4          A10
set_io --warn-no-port   a3          L16
set_io --warn-no-port   a2          B11
set_io --warn-no-port   a1          M15
set_io --warn-no-port   a0          A11
set_io --warn-no-port   ce0         A7
set_io --warn-no-port   rwb         R15
set_io --warn-no-port   d7          B16
set_io --warn-no-port   d6          A5
set_io --warn-no-port   d5          D14
set_io --warn-no-port   d4          B6
set_io --warn-no-port   d3          D15
set_io --warn-no-port   d2          C6
set_io --warn-no-port   d1          E14
set_io --warn-no-port   d0          A6
set_io --warn-no-port   irqb        C16
set_io --warn-no-port   mosi_line   L3
set_io --warn-no-port   miso_line   M2
set_io --warn-no-port   sck_line    N3
set_io --warn-no-port   ss0_line    P1
